* {
  margin: 0;
  padding: 0; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative; }
  header .logo {
    left: 0px;
    top: 10px;
    position: relative; }
    header .logo img {
      width: 2em;
      height: 2em; }
  header nav {
    justify-content: flex-end; }
    header nav input {
      display: none; }
    header nav label {
      display: none; }
    header nav i {
      display: none; }
    header nav ul {
      display: flex;
      padding: 1%;
      margin: 1%; }
      header nav ul li {
        padding: 1em;
        list-style: none; }
      header nav ul li:hover {
        color: #00F3BB;
        line-height: 28px;
        text-decoration: line-through; }

.boxs .box1 {
  display: flex;
  flex-direction: row;
  top: 100px;
  left: 75px;
  position: relative;
  width: 50vw;
  justify-content: space-evenly; }
  .boxs .box1 h2 {
    font-size: 54px;
    font-family: 'IBM Plex Sans', sans-serif;
    word-spacing: 10px; }
  .boxs .box1 h3 {
    text-decoration: line-through;
    font-size: 54px;
    font-family: 'IBM Plex Sans', sans-serif; }
  .boxs .box1 h4 {
    font-size: 54px;
    font-family: 'IBM Plex Sans', sans-serif; }
  .boxs .box1 .punto {
    border-radius: 20px;
    width: 7px;
    height: 7px;
    background-color: blue;
    left: -20px;
    top: 50px;
    position: relative; }
.boxs .box2 {
  width: 600px;
  height: 48px;
  position: relative;
  left: 100px;
  top: 115px; }
  .boxs .box2 .parrafo {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: justify;
    width: 514px;
    word-spacing: 10px; }
  .boxs .box2 .parrafo1 {
    top: 704px;
    position: relative; }
.boxs .boton {
  background-color: #00F3BB;
  width: 226px;
  height: 56px;
  top: 128px;
  left: 100px;
  position: relative;
  text-align: center;
  color: #060A24;
  border: 0px; }
.boxs .boton:hover {
  background: linear-gradient(to left, #0000fe 0%, #00f0b8 100%); }

.episodios {
  background: linear-gradient(to left, #0000ff 0%, #0000a3 100%);
  transform: skewY(-9deg);
  top: 249px;
  height: 1042.6px;
  position: relative; }
  .episodios h2 {
    font-size: 48px;
    color: white;
    top: 635px;
    left: 200px;
    width: 209px;
    height: 62px;
    transform: skewY(9deg); }
  .episodios .episodios1 {
    transform: skewY(9deg);
    top: 140px; }
    .episodios .episodios1 .iframe1 {
      left: 50px;
      top: 123px;
      width: 584px;
      height: 232px;
      border: 0px;
      position: relative; }
    .episodios .episodios1 .iframe2 {
      left: 100px;
      top: 123px;
      width: 584px;
      height: 232px;
      border: 0px;
      position: relative; }
    .episodios .episodios1 .iframe3 {
      left: 50px;
      top: 227px;
      width: 584px;
      height: 232px;
      border: 0px;
      position: relative; }
    .episodios .episodios1 .iframe4 {
      left: 100px;
      top: 227px;
      width: 584px;
      height: 232px;
      border: 0px;
      position: relative; }

.telefono {
  position: relative;
  top: 123px;
  display: flex;
  justify-content: center; }
  .telefono img {
    width: 457.6px;
    height: 660px;
    left: 200px; }
  .telefono .telefono1 {
    text-align: justify;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 193px;
    left: 0px; }
    .telefono .telefono1 .titulo-tel {
      font-size: 48px;
      color: #060A24;
      width: 399px;
      height: 69px; }
    .telefono .telefono1 .parrafo2 {
      width: 464px;
      height: 204px;
      font-size: 1em;
      color: #060A24; }

.galeria {
  position: relative;
  top: 310px;
  display: inline-block;
  padding: 0px; }
  .galeria h2 {
    left: 200px;
    top: 0px;
    height: 62px;
    font-size: 48px;
    position: relative; }
  .galeria .imagenes {
    margin: 0px;
    border: 0px;
    width: 100vw;
    flex-wrap: wrap; }
    .galeria .imagenes .imagen1 {
      width: 445px;
      height: 364px; }
    .galeria .imagenes .imagen2 {
      width: 445px;
      height: 364px; }
    .galeria .imagenes .imagen3 {
      width: 445px;
      height: 364px; }
    .galeria .imagenes .imagen4 {
      width: 445px;
      height: 364px; }
    .galeria .imagenes .imagen5 {
      width: 445px;
      height: 364px; }
    .galeria .imagenes .imagen6 {
      width: 445px;
      height: 364px; }

.iconos {
  position: relative;
  top: 397px;
  height: 50px;
  left: 100px; }
  .iconos h2 {
    top: 0px;
    left: 100px;
    font-size: 48px;
    position: relative;
    width: 700px;
    word-spacing: 10px; }
  .iconos .icono1 {
    top: 50px;
    left: 150px;
    position: relative;
    width: 100px; }
    .iconos .icono1 img {
      width: 104px;
      height: 104px; }
    .iconos .icono1 .p {
      font-size: 24px; }
  .iconos .icono2 {
    top: -80px;
    left: 350px;
    position: relative;
    width: 100px; }
    .iconos .icono2 img {
      width: 104px;
      height: 104px; }
    .iconos .icono2 .p {
      font-size: 24px;
      width: 400px;
      height: 60px; }
  .iconos .icono3 {
    top: -220px;
    left: 570px;
    position: relative;
    width: 100px; }
    .iconos .icono3 img {
      width: 104px;
      height: 104px; }
    .iconos .icono3 .p {
      font-size: 24px;
      width: 400px;
      height: 60px;
      text-align: justify;
      position: relative; }
  .iconos .icono4 {
    top: -360px;
    left: 730px;
    position: relative; }
    .iconos .icono4 img {
      width: 104px;
      height: 104px; }
    .iconos .icono4 .p {
      font-size: 24px; }

.ultimo {
  background: linear-gradient(to left, #0000ff 0%, #0000a3 100%);
  clip-path: polygon(0 18%, 100% 0%, 100% 100%, 0% 100%);
  position: relative;
  left: 0px;
  top: 712px;
  height: 518px; }
  .ultimo h4 {
    position: relative;
    left: 254px;
    top: 192px;
    height: 62px;
    color: white;
    font-size: 48px;
    align-content: center; }
  .ultimo .boton2 {
    left: 357px;
    top: 220px;
    width: 345px;
    height: 56px;
    background-color: #00F3BB;
    position: relative;
    border: 0px; }
  .ultimo .boton2:hover {
    background: linear-gradient(to left, #0000fe 0%, #00f0b8 100%); }

footer {
  color: black;
  left: 100px;
  top: 753px;
  width: 269px;
  height: 28px;
  font-size: 16px;
  position: relative; }
  footer .sociales {
    position: relative;
    font-size: 16px;
    color: #060A24;
    left: 900px;
    top: 0px;
    justify-content: space-between;
    word-spacing: 27px; }

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative; }
    header .logo img {
      width: 1.5em;
      height: 1.5em;
      top: .5em;
      left: 1em; }
    header nav label {
      display: inline-block;
      line-height: 2em;
      font-weight: bold;
      text-align: center;
      user-select: none;
      position: static; }
    header nav .fa {
      display: block; }
    header nav input:checked ~ label ~ .fa {
      display: none; }
    header nav input:checked ~ label {
      display: block; }
    header nav input:checked ~ ul {
      display: block; }
    header nav ul {
      display: none;
      background-color: #0000EC;
      width: 100vw;
      height: 40vh; }
      header nav ul li {
        display: block;
        list-style: none;
        color: #FFFFFF;
        font-size: 1em;
        font-family: 'Open Sans', sans-serif; }

  .boxs {
    position: relative;
    width: 100vw; }
    .boxs .box1 {
      top: 60px;
      left: 16px;
      position: relative;
      width: 300px;
      justify-content: flex-start;
      display: flex;
      flex-flow: wrap; }
      .boxs .box1 h2 {
        font-size: 36px;
        width: 85px;
        height: 42px;
        font-family: 'Open Sans', sans-serif;
        top: 73px;
        left: 16px; }
      .boxs .box1 h3 {
        text-decoration: line-through;
        font-size: 36px;
        height: 42px;
        font-family: 'Open Sans', sans-serif;
        top: 73px;
        left: 101px; }
      .boxs .box1 h4 {
        font-size: 36px;
        height: 42px;
        font-family: 'Open Sans', sans-serif;
        top: 115px;
        left: 16px; }
      .boxs .box1 .punto {
        width: 5px;
        height: 5px;
        border-radius: 10px;
        left: 10px;
        top: 20px;
        color: #0000EC;
        position: relative; }
    .boxs .box2 {
      width: 212px;
      height: 48px;
      position: relative;
      left: 16px;
      top: 20px; }
      .boxs .box2 .parrafo1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        left: 0px;
        top: 50px;
        width: 288px;
        height: 66px;
        text-align: justify;
        position: relative; }
      .boxs .box2 .parrafo {
        display: none; }
    .boxs .boton {
      background-color: #00F3BB;
      width: 288px;
      height: 48px;
      top: 105px;
      left: 16px;
      position: relative; }
    .boxs .boton:hover {
      background: linear-gradient(to left, #0000fe 0%, #00f0b8 100%); }

  .episodios {
    height: 85em;
    top: 157px;
    position: relative;
    width: 100vw; }
    .episodios h2 {
      font-size: 2em;
      color: #FFFFFF;
      line-height: 3;
      font-family: 'Open Sans', sans-serif; }
    .episodios .episodios1 .iframe1 {
      width: 90%;
      border: 0px;
      left: 12px;
      top: 80px;
      position: relative; }
    .episodios .episodios1 .iframe2 {
      width: 90%;
      border: 0px;
      left: 12px;
      top: 110px;
      position: relative; }
    .episodios .episodios1 .iframe3 {
      width: 90%;
      border: 0px;
      left: 12px;
      top: 140px;
      position: relative; }
    .episodios .episodios1 .iframe4 {
      width: 90%;
      border: 0px;
      left: 12px;
      top: 170px;
      position: relative; }

  .telefono {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 55px;
    left: 0px; }
    .telefono img {
      z-index: 1;
      width: 100%;
      height: 50%;
      top: 474px; }
    .telefono .telefono1 {
      position: relative;
      top: 50px;
      left: 0px;
      display: flex;
      flex-direction: column;
      width: 100%; }
      .telefono .telefono1 .titulo-tel {
        left: 10px;
        height: 54px;
        font-size: 36px;
        top: 10px;
        position: relative;
        width: 148px; }
      .telefono .telefono1 .parrafo2 {
        width: 248px;
        height: 284px;
        top: 40px;
        position: relative;
        left: 10px; }

  .galeria {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 105px; }
    .galeria h2 {
      left: 16px;
      width: 288px;
      height: 84px;
      font-size: 36px; }
    .galeria .imagenes .imagen1 {
      width: 100%;
      height: 50%; }
    .galeria .imagenes .imagen2 {
      width: 100%;
      height: 50%; }
    .galeria .imagenes .imagen3 {
      width: 100%;
      height: 50%; }
    .galeria .imagenes .imagen4 {
      width: 100%;
      height: 50%; }
    .galeria .imagenes .imagen5 {
      width: 100%;
      height: 50%; }
    .galeria .imagenes .imagen6 {
      width: 100%;
      height: 50%; }

  .iconos {
    display: flex;
    flex-direction: column;
    top: 190px;
    position: relative;
    width: 100vw;
    left: 0px;
    justify-items: center; }
    .iconos h2 {
      width: 288px;
      font-size: 36px;
      left: .5em;
      position: relative; }
    .iconos .icono1 {
      position: relative;
      width: 50vw;
      height: 50vh; }
      .iconos .icono1 .p {
        font-size: 100px; }
    .iconos .icono2 {
      position: relative;
      width: 26vw;
      height: 60vh;
      top: 5em;
      left: 9em; }
      .iconos .icono2 .p {
        font-size: 24px;
        justify-content: center; }
    .iconos .icono3 {
      position: relative;
      width: 50vw;
      height: 50vh;
      top: 7em;
      left: 9em; }
      .iconos .icono3 .p {
        font-size: 24px;
        width: 288px;
        height: 32px; }
    .iconos .icono4 {
      position: relative;
      width: 50vw;
      height: 50vh;
      top: 9em;
      left: 9em; }
      .iconos .icono4 .p {
        font-size: 24px;
        width: 288px;
        height: 32px; }

  .ultimo {
    height: 341px;
    top: 57em;
    position: relative;
    padding: 3px;
    width: 100%; }
    .ultimo h4 {
      left: 30vw;
      width: 50vw;
      height: 126px;
      font-size: 36px;
      text-align: center;
      top: 96px;
      position: relative; }
    .ultimo .boton2 {
      position: relative;
      left: 7vw;
      top: 104px;
      width: 80vw;
      height: 48px;
      background-color: #00F3BB; }

  footer {
    color: black;
    left: 5em;
    top: 70em;
    height: 22px;
    font-size: 14px;
    position: relative;
    word-spacing: 9px;
    width: 70vw;
    text-align: center; }
    footer .sociales {
      padding: 20px;
      position: relative;
      left: 10px;
      word-spacing: 27px;
      font-size: 14px;
      width: 60vw; } }

/*# sourceMappingURL=style.css.map */
